<div>
	<h3 class='inline-block'>The Wall</h3>
	<p class='inline-block'>Welcome, % current_user.first_name %></p>
	<a class='inline-block align-right' href=''>Sign Off</a>
</div>

<div class='col-md-8 col-md-offset-2'>
	<h1>Post a Message</h1>
		%= simple_form_for(@message) do |m| %>
		  %= m.input :post, 		:class => '', 								:placeholder => 'Create a Message' %>
		  %= m.button :submit, 	:class => 'btn btn-primary', 	:value => 'Post a Message' %>
		% end %>

	<h3>Message History</h3>
	<h5>first_name+' '+last_name - date_time</h5>
	<p>message content message content message content message content message content message content message content message content message content message content message content message content message content message content message content</p>
		<div class='col-md-offset-1'>
		<h5>first_name+' '+last_name - date_time</h5>
		<p>message content message content message content message content message content message content message content message content message content message content message content message content message content message content message content</p>
		<h5>Post a Comment</h5>
			%= simple_form_for(@comment) do |m| %>
			  %= m.input :post, 		:class => '', 								:placeholder => 'Create a Comment' %>
			  %= m.button :submit, 	:class => 'btn btn-success', 	:value => 'Post a Comment' %>
			% end %>
</div>