<div>
	<h3 class='inline-block'>The Wall</h3>
	<p class='inline-block'>Hello, <%= @user.first_name %></p>
	<%= link_to('Sign Off', signout_path) %>
</div>
<!-- Display Welcome Msg -->
<% if flash[:enter_success] %>
	<div class="alert alert-warning alert-dismissible" role="alert">
  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  	<%= flash[:enter_success] %>
</div>
<% end %>
<div class='col-md-8 col-md-offset-2'>
<!-- Form for New Msg -->
	<h1>Post a Message</h1>
		%= simple_form_for(@message) do |m| %>
		  %= m.input :post, 		:class => '', 								:placeholder => 'Create a Message' %>
		  %= m.button :submit, 	:class => 'btn btn-primary', 	:value => 'Post a Message' %>
		% end %>
<!-- Display All Msg -->
	<h3>Message History</h3>
	<h5>first_name+' '+last_name - date_time</h5>
		<p>message content message content message content message content message content message content message content message content message content message content message content message content message content message content message content</p>
		<div class='col-md-offset-1'>
		<!-- Display All Comments -->
		<h5>first_name+' '+last_name - date_time</h5>
			<p>message content message content message content message content message content message content message content message content message content message content message content message content message content message content message content</p>
		<!-- Form for New Comment -->
		<h5>Post a Comment</h5>
			%= simple_form_for(@comment) do |m| %>
			  %= m.input :post, 		:class => '', 								:placeholder => 'Create a Comment' %>
			  %= m.button :submit, 	:class => 'btn btn-success', 	:value => 'Post a Comment' %>
			% end %>
</div>